#post {
    color: #A6A6A6;
    font-family: 'Roboto';
    
}

html {
    font-size: 112.5%;
    line-height: 1.722;
}

main {
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
  }

h1 {
    color: white;
    font-family: 'Roboto Mono';
    font-weight: bold; 
}

h2 {
    color: white;
    font-family: 'Roboto Mono';
}

h3 {
    color: white;
    font-family: 'Roboto Mono';
}

a {
    text-decoration: none;
    color: palegoldenrod;
}

a:hover {
    color: white !important;
}

a:visited {
    color: palegoldenrod;
}

.post-meta {
    color: #757575;
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin-top: 4rem;
    font-family: 'Roboto Mono';
    font-weight: bold;
    padding-left: 1rem;
}
