.profile-picture{
    width: 50rem;
    height: auto;
    max-width: 100%;
}

html {
    font-size: 112.5%;
    line-height: 1.722;
    color: #A6A6A6;
    font-family: 'Roboto';
}

.contactSection {
    display: flex;
    justify-content: center;
}

.contactTitle {
    min-width: 100%;
    text-align: center;
}