.navbar {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;

    .copyright {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;

        color: #FFFFFF;

    }

    .navitem {
        @extend .copyright;
        
        a {
            color: #FFFFFF;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    @media (max-width: 768px) {
        .copyright {
            padding-left: 1rem;
        }
    }

}