.tags {
    display: flex;

    .tag {
        width: 82px;
        height: 22px;

        background: #A6A6A6;
        border: 1px solid #000000;
        border-radius: 1px;

        font-family: Roboto Mono;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 20px;
        /* identical to box height */


        color: #000000;
        text-align: center;

        margin-right: 20px;

        &:hover {
            background-color: white;
            cursor: pointer;
            box-shadow: 5px 5px 0px #000000;
        }
    }
}